[package]
name = "aljabar"
version = "0.2.7"
authors = ["Matthew Plant <map@maplant.com>"]
edition = "2018"
description = "A super generic, super experimental linear algebra library."
license = "GPL-3.0"

documentation = "https://docs.rs/crate/aljabar"
homepage = "https://github.com/maplant/aljabar"
repository = "https://github.com/maplant/aljabar"
readme = "README.md"

keywords = [ "linear", "algebra", "matrix", "vector", "math" ]

[lib]
name = "aljabar"

[dependencies]
paste = "0.1"
